@model Gateway.Models.Session.User

@{
    ViewData["Title"] = "Login";
}

<h2>Authorization</h2>

@if (ViewBag.Code != null)
{
    <h2 class="text-danger">Error while logging</h2>
    <h4 class="text-danger">Code: @ViewBag.Code</h4>
    <h4 class="text-danger">Message: @ViewBag.Message</h4>
}

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewBag.Redirect != null)
                {
                    <input type="submit" value="Login" class="btn btn-default" asp-route-redirect="@ViewBag.Redirect" />
                }
                else
                {
                    <input type="submit" value="Login" class="btn btn-default" />
                }

            </div>
        </form>
    </div>
</div>

